body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  background: rgb(14,71,36);
  background: radial-gradient(circle, rgba(14,71,36,1) 9%, rgba(18,18,18,1) 100%);
}


